--
-- PostgreSQL database dump
--

\restrict qavzHuhhBTYcLBz2UpfYScFldVLxP4qptQBB73uXeapgruvZDy1VlpqpDR0lFLy

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: listing_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.listing_type AS ENUM (
    'product',
    'service'
);


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'student',
    'admin'
);


--
-- Name: admin_approve_report(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_approve_report(p_report_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE v_seller uuid;

BEGIN

  IF NOT is_admin() THEN RAISE EXCEPTION 'Not authorized'; END IF;



  SELECT l.seller_id INTO v_seller

  FROM reports r JOIN listings l ON r.listing_id = l.id

  WHERE r.id = p_report_id;



  IF v_seller IS NULL THEN

    RAISE EXCEPTION 'Report or listing not found';

  END IF;



  UPDATE profiles

  SET trust_score = GREATEST(0, trust_score - 10)

  WHERE id = v_seller;



  UPDATE reports

  SET is_resolved = true, resolution_action = 'confirmed',

      reviewed_by = auth.uid(), reviewed_at = now()

  WHERE id = p_report_id;



  -- Γ£à audit log (was missing)

  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (auth.uid(), 'approve_report', 'report', p_report_id);

END;

$$;


--
-- Name: admin_confirm_listing_reports(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_confirm_listing_reports(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

  r         record;

  v_seller  uuid;

BEGIN



  -- ≡ƒöÆ HARD AUTH CHECK (YOU MISSED THIS)

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  -- 1. Get seller

  SELECT seller_id INTO v_seller

  FROM listings

  WHERE id = p_listing_id;



  IF v_seller IS NULL THEN

    RAISE EXCEPTION 'Listing not found: %', p_listing_id;

  END IF;



  -- 2. Confirm all pending reports

  FOR r IN

    SELECT * FROM reports

    WHERE listing_id = p_listing_id AND is_resolved = false

  LOOP

    UPDATE reports

    SET

      is_resolved       = true,

      resolution_action = 'confirmed',

      reviewed_by       = auth.uid(),

      reviewed_at       = now()

    WHERE id = r.id;



    INSERT INTO reporter_stats (user_id, total_reports, valid_reports, invalid_reports)

    VALUES (r.reporter_id, 1, 1, 0)

    ON CONFLICT (user_id)

    DO UPDATE SET

      total_reports = reporter_stats.total_reports + 1,

      valid_reports = reporter_stats.valid_reports + 1;



    PERFORM evaluate_reporter_penalty(r.reporter_id);

  END LOOP;



  -- ≡ƒƒí PREVENT DOUBLE PENALTY (YOU MISSED THIS)

  IF NOT EXISTS (

    SELECT 1 FROM trust_logs

    WHERE profile_id = v_seller

      AND reason LIKE '%' || p_listing_id::text || '%'

  ) THEN



    -- 3. Deduct trust

    UPDATE profiles

    SET trust_score = GREATEST(0, trust_score - 10)

    WHERE id = v_seller;



    -- 4. Log it

    INSERT INTO trust_logs (profile_id, amount, reason)

    VALUES (

      v_seller,

      -10,

      'Admin confirmed reports for listing ' || p_listing_id::text

    );



  END IF;



  -- 5. Hide listing

  UPDATE listings

  SET is_hidden = true

  WHERE id = p_listing_id;



  -- 6. Sync feed (important)

  UPDATE discovery_feed

  SET 

    is_hidden = true,

    updated_at = now()

  WHERE id = p_listing_id;



  -- ≡ƒƒí AUDIT LOG (YOU DIDNΓÇÖT LOG THIS ACTION)

  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (auth.uid(), 'confirm_reports', 'listing', p_listing_id);



END;

$$;


--
-- Name: admin_delete_listing(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_delete_listing(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

  v_admin_id UUID;

BEGIN

  -- Γ£à AUTH CHECK (was missing)

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  v_admin_id := auth.uid();



  DELETE FROM listings WHERE id = p_listing_id;



  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id, metadata)

  VALUES (v_admin_id, 'delete_listing', 'listing', p_listing_id,

          jsonb_build_object('reason', 'admin_removed'));

END;

$$;


--
-- Name: admin_dismiss_report(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_dismiss_report(p_report_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN



  -- ≡ƒöÆ AUTH CHECK

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  UPDATE reports

  SET

    is_resolved       = true,

    resolution_action = 'dismissed',

    reviewed_by       = auth.uid(),

    reviewed_at       = now()

  WHERE id = p_report_id;



  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (auth.uid(), 'dismiss_report', 'report', p_report_id);



END;

$$;


--
-- Name: admin_dismiss_reports_for_listing(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_dismiss_reports_for_listing(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

  r record;

BEGIN

  FOR r IN 

    SELECT * FROM reports 

    WHERE listing_id = p_listing_id AND is_resolved = false

  LOOP

    UPDATE reports

    SET 

      is_resolved = true,

      resolution_action = 'dismissed',

      reviewed_by = auth.uid(),

      reviewed_at = now()

    WHERE id = r.id;



    INSERT INTO reporter_stats (user_id, total_reports, valid_reports, invalid_reports)

    VALUES (r.reporter_id, 1, 0, 1)

    ON CONFLICT (user_id)

    DO UPDATE SET

      total_reports = reporter_stats.total_reports + 1,

      invalid_reports = reporter_stats.invalid_reports + 1;



    PERFORM evaluate_reporter_penalty(r.reporter_id);

  END LOOP;

END;

$$;


--
-- Name: admin_reject_report(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_reject_report(p_report_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  UPDATE reports

  SET 

    status = 'rejected',

    is_resolved = true,

    reviewed_by = auth.uid(),

    reviewed_at = NOW()

  WHERE id = p_report_id;



  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (auth.uid(), 'reject_report', 'report', p_report_id);

END;

$$;


--
-- Name: admin_reset_trust(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_reset_trust(p_user_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  UPDATE profiles

  SET trust_score = 25

  WHERE id = p_user_id;



  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (auth.uid(), 'reset_user_trust', 'profile', p_user_id);

END;

$$;


--
-- Name: admin_resolve_report(uuid, text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_resolve_report(p_report_id uuid, p_action text) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

  v_reporter_id uuid;

BEGIN

  -- 1. Get reporter

  SELECT reporter_id INTO v_reporter_id

  FROM reports

  WHERE id = p_report_id;



  -- 2. Resolve report

  UPDATE reports

  SET 

    is_resolved = true,

    resolution_action = p_action,

    reviewed_by = auth.uid(),

    reviewed_at = now()

  WHERE id = p_report_id;



  -- 3. Update reporter stats (UPSERT)

  INSERT INTO reporter_stats (user_id, total_reports, valid_reports, invalid_reports)

  VALUES (

    v_reporter_id,

    1,

    CASE WHEN p_action = 'confirmed' THEN 1 ELSE 0 END,

    CASE WHEN p_action = 'dismissed' THEN 1 ELSE 0 END

  )

  ON CONFLICT (user_id)

  DO UPDATE SET

    total_reports = reporter_stats.total_reports + 1,

    valid_reports = reporter_stats.valid_reports + 

      CASE WHEN p_action = 'confirmed' THEN 1 ELSE 0 END,

    invalid_reports = reporter_stats.invalid_reports +  

      CASE WHEN p_action = 'dismissed' THEN 1 ELSE 0 END;



END;

$$;


--
-- Name: admin_reverse_penalty(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_reverse_penalty(p_report_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

  v_seller UUID;

BEGIN

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  SELECT l.seller_id INTO v_seller

  FROM reports r

  JOIN listings l ON r.listing_id = l.id

  WHERE r.id = p_report_id;



  IF v_seller IS NULL THEN

    RAISE EXCEPTION 'Seller not found for report %', p_report_id;

  END IF;



  UPDATE profiles

  SET trust_score = LEAST(100, trust_score + 10)

  WHERE id = v_seller;



  UPDATE reports

  SET status = 'rejected'

  WHERE id = p_report_id;



  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (auth.uid(), 'reverse_penalty', 'report', p_report_id);

END;

$$;


--
-- Name: admin_set_listing_visibility(uuid, boolean); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_set_listing_visibility(p_listing_id uuid, p_hidden boolean) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  UPDATE listings   SET is_hidden = p_hidden WHERE id = p_listing_id;

  -- Γ£à ALSO sync discovery_feed (was missing ΓÇö see BUG SQL-05)

  UPDATE discovery_feed SET is_hidden = p_hidden, updated_at = now() WHERE id = p_listing_id;

END;

$$;


--
-- Name: admin_toggle_suspend(uuid, boolean); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_toggle_suspend(p_user_id uuid, p_suspend boolean) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  UPDATE profiles

  SET is_suspended = p_suspend

  WHERE id = p_user_id;



  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (

    auth.uid(),

    CASE WHEN p_suspend THEN 'suspend_user' ELSE 'unsuspend_user' END,

    'profile',

    p_user_id

  );

END;

$$;


--
-- Name: admin_toggle_suspension(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_toggle_suspension(p_user_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

  v_new_state boolean;

BEGIN

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  SELECT NOT is_suspended INTO v_new_state

  FROM profiles

  WHERE id = p_user_id;



  UPDATE profiles

  SET is_suspended = v_new_state

  WHERE id = p_user_id;



  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (

    auth.uid(),

    CASE WHEN v_new_state THEN 'suspend_user' ELSE 'unsuspend_user' END,

    'profile',

    p_user_id

  );

END;

$$;


--
-- Name: admin_unhide_listing(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.admin_unhide_listing(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  UPDATE listings

  SET is_hidden = false

  WHERE id = p_listing_id;



  INSERT INTO admin_audit_logs (admin_id, action, target_type, target_id)

  VALUES (auth.uid(), 'unhide_listing', 'listing', p_listing_id);

END;

$$;


--
-- Name: apply_listing_penalty_once(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.apply_listing_penalty_once(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

  v_seller uuid;

BEGIN



  -- ≡ƒöÆ AUTH

  IF NOT is_admin() THEN

    RAISE EXCEPTION 'Not authorized';

  END IF;



  -- 1. Get seller

  SELECT seller_id INTO v_seller

  FROM listings

  WHERE id = p_listing_id;



  IF v_seller IS NULL THEN

    RAISE EXCEPTION 'Listing not found';

  END IF;



  -- ≡ƒƒí CRITICAL: Prevent double penalty (your function name lies right now)

  IF EXISTS (

    SELECT 1 FROM trust_logs

    WHERE profile_id = v_seller

      AND reason LIKE '%' || p_listing_id::text || '%'

  ) THEN

    RETURN;

  END IF;



  -- 2. Safe deduction (FIXED)

  UPDATE profiles

  SET trust_score = GREATEST(0, trust_score - 10)

  WHERE id = v_seller;



  -- 3. Log it (required for consistency + future checks)

  INSERT INTO trust_logs (profile_id, amount, reason)

  VALUES (

    v_seller,

    -10,

    'Penalty applied for listing ' || p_listing_id::text

  );



END;

$$;


--
-- Name: apply_report_penalty(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.apply_report_penalty(report_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

  v_admin_id UUID;

  v_seller_id UUID;

  v_listing_id UUID;

BEGIN

  v_admin_id := auth.uid();



  SELECT l.seller_id, r.listing_id

  INTO v_seller_id, v_listing_id

  FROM reports r

  JOIN listings l ON r.listing_id = l.id

  WHERE r.id = report_id;



  UPDATE profiles

  SET trust_score = GREATEST(0, trust_score - 10)

  WHERE id = v_seller_id;



  UPDATE reports

  SET is_resolved = true

  WHERE id = report_id;



  INSERT INTO admin_audit_logs (

    admin_id,

    action,

    target_type,

    target_id,

    metadata

  )

  VALUES (

    v_admin_id,

    'confirm_report',

    'listing',

    v_listing_id,

    jsonb_build_object(

      'seller_id', v_seller_id,

      'penalty', -10

    )

  );

END;

$$;


--
-- Name: apply_sold_trust(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.apply_sold_trust(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

  seller UUID;

  valid_views INT;

  valid_contacts INT;

  listing_age INTERVAL;

BEGIN

  SELECT l.seller_id,

         NOW() - l.created_at

  INTO seller, listing_age

  FROM listings l

  WHERE l.id = p_listing_id;



  IF listing_age < INTERVAL '24 hours' THEN

    RETURN;

  END IF;



  SELECT

    COUNT(*) FILTER (

      WHERE type = 'view' AND user_id != seller

    ),

    COUNT(*) FILTER (

      WHERE type = 'contact' AND user_id != seller

    )

  INTO valid_views, valid_contacts

  FROM listing_engagements

  WHERE listing_id = p_listing_id;



  IF valid_views >= 1 AND valid_contacts >= 1 THEN

    UPDATE profiles

    SET trust_score = LEAST(100, trust_score + 1)

    WHERE id = seller;

  END IF;

END;

$$;


--
-- Name: apply_weekly_trust_bonus(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.apply_weekly_trust_bonus() RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  UPDATE profiles p

  SET trust_score = LEAST(100, trust_score + 1)

  WHERE EXISTS (

    SELECT 1 FROM listings l

    WHERE l.seller_id = p.id

    AND l.is_active = true

  )

  AND NOT EXISTS (

    SELECT 1 FROM reports r

    WHERE r.reporter_id = p.id

    AND r.created_at > NOW() - INTERVAL '7 days'

    AND r.is_resolved = false

  )

  AND trust_score < 100;

END;

$$;


--
-- Name: auto_hide_listing(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.auto_hide_listing(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

  report_count INT;

BEGIN

  SELECT COUNT(*) INTO report_count

  FROM reports

  WHERE listing_id = p_listing_id

  AND is_resolved = false;



  IF report_count >= 3 THEN

    UPDATE listings

    SET is_hidden = true

    WHERE id = p_listing_id;

  END IF;

END;

$$;


--
-- Name: calculate_visibility(timestamp with time zone, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.calculate_visibility(created_at timestamp with time zone, trust_score integer) RETURNS numeric
    LANGUAGE sql STABLE
    AS $$

    SELECT

        (

            GREATEST(

                0,

                100 - (EXTRACT(EPOCH FROM (now() - created_at)) / 3600.0) * (100.0 / 72.0)

            ) * 0.4

        )

        +

        (trust_score * 0.6);

$$;


--
-- Name: check_category_type_match(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.check_category_type_match() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

  category_type public.listing_type;

BEGIN

  SELECT type INTO category_type

  FROM categories

  WHERE id = NEW.category_id;



  IF category_type IS NULL THEN

    RAISE EXCEPTION 'Invalid category_id';

  END IF;



  IF category_type <> NEW.type THEN

    RAISE EXCEPTION 'Category type does not match listing type';

  END IF;



  RETURN NEW;

END;

$$;


--
-- Name: check_ucc_email(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.check_ucc_email() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  -- We use % so it catches anything ending in @stu.ucc.edu.gh OR @ucc.edu.gh

  IF NEW.email ILIKE '%@stu.ucc.edu.gh' OR NEW.email ILIKE '%@ucc.edu.gh' THEN

    RETURN NEW;

  ELSE

    RAISE EXCEPTION 'Registration is restricted to University of Cape Coast students only.';

  END IF;

END;

$$;


--
-- Name: compute_visibility_score(integer, timestamp with time zone); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.compute_visibility_score(p_trust_score integer, p_created_at timestamp with time zone) RETURNS numeric
    LANGUAGE plpgsql
    AS $$

DECLARE hours_old numeric;

BEGIN

  hours_old := EXTRACT(EPOCH FROM (now() - p_created_at)) / 3600;



  RETURN (p_trust_score * 0.7) + (100 / (hours_old + 1)) * 0.3;

END;

$$;


--
-- Name: compute_visibility_score(integer, timestamp with time zone, bigint, bigint); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.compute_visibility_score(p_trust_score integer, p_created_at timestamp with time zone, p_views bigint, p_contacts bigint) RETURNS numeric
    LANGUAGE plpgsql
    AS $$

DECLARE hours_old numeric;

BEGIN

hours_old := EXTRACT(EPOCH FROM (now() - p_created_at)) / 3600;



RETURN 

  (p_trust_score * 0.5) +

  (LEAST(p_views, 50) * 0.2) +

  (LEAST(p_contacts, 20) * 1.5) +

  ((100 / (hours_old + 1)) * 0.3);

END;

$$;


--
-- Name: create_profile_for_new_user(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_profile_for_new_user() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  INSERT INTO public.profiles (id, full_name, role, trust_score)

  VALUES (

    new.id,

    COALESCE(new.raw_user_meta_data->>'full_name', 'UCC Student'),

    'student',

    50

  )

  ON CONFLICT (id) DO NOTHING; -- Prevents duplicate errors

  RETURN new;

END;

$$;


--
-- Name: enforce_contact_before_listing(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.enforce_contact_before_listing() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

begin

  if not user_has_contact(new.seller_id) then

    raise exception 'User must have a phone or WhatsApp number before posting';

  end if;

  return new;

end;

$$;


--
-- Name: evaluate_reporter_penalty(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.evaluate_reporter_penalty(p_user_id uuid) RETURNS text
    LANGUAGE plpgsql
    AS $$

DECLARE

  stats record;

  invalid_rate numeric;

BEGIN

  SELECT * INTO stats FROM reporter_stats WHERE user_id = p_user_id;



  IF stats.total_reports = 0 THEN

    RETURN 'none';

  END IF;



  invalid_rate := stats.invalid_reports::numeric / stats.total_reports;



  IF stats.total_reports >= 20 AND invalid_rate > 0.8 THEN

    RETURN 'ban';

  ELSIF stats.total_reports >= 10 AND invalid_rate > 0.7 THEN

    RETURN 'restrict';

  ELSIF stats.total_reports >= 5 AND invalid_rate > 0.6 THEN

    RETURN 'warn';

  END IF;



  RETURN 'none';

END;

$$;


--
-- Name: handle_new_user_email(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.handle_new_user_email() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  UPDATE profiles

  SET email = NEW.email

  WHERE id = NEW.id;

  RETURN NEW;

END;

$$;


--
-- Name: handle_sold_confirmation(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.handle_sold_confirmation() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  UPDATE profiles

  SET trust_score = LEAST(100, trust_score + 4)

  WHERE id = NEW.seller_id;



  INSERT INTO trust_logs (profile_id, amount, reason)

  VALUES (NEW.seller_id, 4, 'Buyer confirmed purchase');



  RETURN NEW;

END;

$$;


--
-- Name: increment_trust_on_sale(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.increment_trust_on_sale(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql
    AS $$

declare

  v_seller uuid;

  v_sales_count int;

begin

  -- get seller

  select seller_id into v_seller

  from listings

  where id = p_listing_id;



  -- count total completed sales

  select count(*) into v_sales_count

  from listings

  where seller_id = v_seller

    and sold_at is not null;



  -- only reward every 5 sales

  if (v_sales_count % 5 = 0) then

    update profiles

    set trust_score = trust_score + 1

    where id = v_seller;

  end if;

end;

$$;


--
-- Name: is_admin(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.is_admin() RETURNS boolean
    LANGUAGE sql SECURITY DEFINER
    AS $$

SELECT COALESCE((

  SELECT role = 'admin'

  FROM profiles

  WHERE id = auth.uid()

), false);

$$;


--
-- Name: limit_listing_images(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.limit_listing_images() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF (

    SELECT COUNT(*) FROM listing_images

    WHERE listing_id = NEW.listing_id

  ) >= 3 THEN

    RAISE EXCEPTION 'Maximum 3 images allowed per listing';

  END IF;



  RETURN NEW;

END;

$$;


--
-- Name: normalize_ghana_phone(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.normalize_ghana_phone() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.phone_number := regexp_replace(NEW.phone_number, '\D', '', 'g');



  IF LEFT(NEW.phone_number, 3) = '233' THEN

    NEW.phone_number := SUBSTRING(NEW.phone_number FROM 4);

  END IF;



  IF LEFT(NEW.phone_number, 1) = '0' THEN

    NEW.phone_number := SUBSTRING(NEW.phone_number FROM 2);

  END IF;



  RETURN NEW;

END;

$$;


--
-- Name: on_report_created(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.on_report_created() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  PERFORM auto_hide_listing(NEW.listing_id);

  RETURN NEW;

END;

$$;


--
-- Name: prevent_report_spam(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.prevent_report_spam() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

  recent_reports INT;

BEGIN

  SELECT COUNT(*) INTO recent_reports

  FROM reports

  WHERE reporter_id = NEW.reporter_id

  AND created_at > NOW() - INTERVAL '1 hour';



  IF recent_reports >= 10 THEN

    RAISE EXCEPTION 'Rate limit exceeded. Try later.';

  END IF;



  RETURN NEW;

END;

$$;


--
-- Name: refresh_visibility_scores(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.refresh_visibility_scores() RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

  UPDATE discovery_feed

  SET visibility_score = compute_visibility_score(seller_trust, created_at),

      updated_at = now()

  WHERE is_active = true;

END;

$$;


--
-- Name: reverse_report_penalty(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.reverse_report_penalty(report_id uuid) RETURNS void
    LANGUAGE plpgsql
    AS $$

DECLARE v_seller_id uuid;

BEGIN

SELECT l.seller_id INTO v_seller_id

FROM reports r

JOIN listings l ON r.listing_id = l.id

WHERE r.id = report_id;



UPDATE profiles

SET trust_score = LEAST(100, trust_score + 10)

WHERE id = v_seller_id;

END;

$$;


--
-- Name: run_engagement_trust_update(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.run_engagement_trust_update() RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN



  WITH contact_counts AS (

    SELECT

      l.seller_id,

      COUNT(*) AS contact_count

    FROM listing_engagements le

    JOIN listings l ON le.listing_id = l.id

    WHERE le.type = 'contact'

      AND le.user_id != l.seller_id

      AND le.created_at >= NOW() - INTERVAL '24 hours'

    GROUP BY l.seller_id

  )



  UPDATE profiles p

  SET

    trust_score = LEAST(

      100,

      trust_score + LEAST(2, FLOOR(cc.contact_count / 5))

    ),

    last_engagement_update = NOW()

  FROM contact_counts cc

  WHERE p.id = cc.seller_id



    -- Γ¢ö prevent multiple runs same day

    AND (

      p.last_engagement_update IS NULL

      OR p.last_engagement_update < NOW() - INTERVAL '24 hours'

    );



END;

$$;


--
-- Name: run_trust_decay(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.run_trust_decay() RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN



  UPDATE profiles p

  SET 

    trust_score = GREATEST(0, trust_score - 1),

    last_decay_at = NOW()

  WHERE

    -- Γ¢ö Only decay if inactive

    NOT EXISTS (

      SELECT 1

      FROM listings l

      WHERE l.seller_id = p.id

      AND l.created_at >= NOW() - INTERVAL '14 days'

    )



    -- Γ¢ö Do not decay too frequently

    AND (

      p.last_decay_at IS NULL

      OR p.last_decay_at < NOW() - INTERVAL '24 hours'

    )



    -- Γ¢ö Ignore very low trust users (avoid crushing new users)

    AND p.trust_score > 20;



END;

$$;


--
-- Name: run_trust_update(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.run_trust_update() RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  UPDATE profiles p

  SET 

    trust_score = LEAST(100, trust_score + 1),

    last_trust_update = NOW()

  WHERE (

    p.last_trust_update IS NULL

    OR p.last_trust_update < NOW() - INTERVAL '24 hours'

  )

  AND EXISTS (

    SELECT 1

    FROM listings l

    WHERE l.seller_id = p.id

      AND l.is_active = true

      AND l.created_at >= NOW() - INTERVAL '7 days'

  )

  AND NOT EXISTS (

    SELECT 1

    FROM reports r

    JOIN listings l ON r.listing_id = l.id

    WHERE l.seller_id = p.id

      AND r.is_resolved = false

  );

END;

$$;


--
-- Name: trigger_delete_listing(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trigger_delete_listing() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  DELETE FROM discovery_feed WHERE id = OLD.id;

  RETURN OLD;

END;

$$;


--
-- Name: trigger_sync_category(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trigger_sync_category() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  UPDATE discovery_feed

  SET category_name = NEW.name,

      -- category_kind removed (column does not exist)

      updated_at = now()

  WHERE category_id = NEW.id;

  RETURN NEW;

END;

$$;


--
-- Name: trigger_sync_category_to_feed(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trigger_sync_category_to_feed() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

UPDATE discovery_feed

SET category_name = NEW.name,

    updated_at = now()

WHERE category_id = NEW.id;



RETURN NEW;

END;

$$;


--
-- Name: trigger_sync_images_to_feed(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trigger_sync_images_to_feed() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

UPDATE discovery_feed

SET image_url = (

  SELECT image_url

  FROM listing_images

  WHERE listing_id = COALESCE(NEW.listing_id, OLD.listing_id)

    AND is_cover = true

  LIMIT 1

),

updated_at = now()

WHERE id = COALESCE(NEW.listing_id, OLD.listing_id);



RETURN COALESCE(NEW, OLD);

END;

$$;


--
-- Name: trigger_sync_listing(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trigger_sync_listing() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

PERFORM upsert_discovery_feed(NEW.id);

RETURN NEW;

END;

$$;


--
-- Name: trigger_sync_profile_to_feed(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trigger_sync_profile_to_feed() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

UPDATE discovery_feed

SET seller_trust = NEW.trust_score,

    seller_name = NEW.full_name,

    seller_avatar_url = NEW.avatar_url,

    visibility_score = compute_visibility_score(NEW.trust_score, created_at),

    updated_at = now()

WHERE seller_id = NEW.id;



RETURN NEW;

END;

$$;


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    SET search_path TO 'public'
    AS $$

BEGIN

  NEW.updated_at = now();

  RETURN NEW;

END;

$$;


--
-- Name: upsert_discovery_feed(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.upsert_discovery_feed(p_listing_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN



INSERT INTO discovery_feed (

  id,

  seller_id,

  category_id,

  title,

  description,

  price,

  price_min,

  price_max,

  negotiable,

  listing_type,

  is_active,

  is_hidden,        -- Γ£à ADDED

  is_deleted,       -- Γ£à ADDED

  sold_at,          -- Γ£à ADDED

  archived_at,      -- Γ£à ADDED

  created_at,

  seller_name,

  seller_avatar_url,

  seller_trust,

  category_name,

  image_url,

  visibility_score,

  updated_at

)

SELECT

  l.id,

  l.seller_id,

  l.category_id,

  l.title,

  l.description,

  l.price,

  l.price_min,

  l.price_max,

  l.negotiable,

  l.type,

  l.is_active,

  l.is_hidden,      -- Γ£à ADDED

  l.is_deleted,     -- Γ£à ADDED

  l.sold_at,        -- Γ£à ADDED

  l.archived_at,    -- Γ£à ADDED

  l.created_at,

  p.full_name,

  p.avatar_url,

  p.trust_score,

  c.name,

  (

    SELECT image_url

    FROM listing_images li

    WHERE li.listing_id = l.id AND li.is_cover = true

    LIMIT 1

  ),

  compute_visibility_score(p.trust_score, l.created_at),

  now()

FROM listings l

JOIN profiles p ON l.seller_id = p.id

JOIN categories c ON l.category_id = c.id

WHERE l.id = p_listing_id



ON CONFLICT (id) DO UPDATE SET

  title             = EXCLUDED.title,

  description       = EXCLUDED.description,

  price             = EXCLUDED.price,

  price_min         = EXCLUDED.price_min,     -- Γ£à FIXED

  price_max         = EXCLUDED.price_max,     -- Γ£à FIXED

  negotiable        = EXCLUDED.negotiable,    -- Γ£à FIXED

  listing_type      = EXCLUDED.listing_type,

  image_url         = EXCLUDED.image_url,

  is_active         = EXCLUDED.is_active,

  is_hidden         = EXCLUDED.is_hidden,     -- Γ£à CRITICAL FIX

  is_deleted        = EXCLUDED.is_deleted,    -- Γ£à CRITICAL FIX

  sold_at           = EXCLUDED.sold_at,       -- Γ£à FIXED

  archived_at       = EXCLUDED.archived_at,   -- Γ£à FIXED

  category_name     = EXCLUDED.category_name,

  seller_name       = EXCLUDED.seller_name,

  seller_avatar_url = EXCLUDED.seller_avatar_url,

  seller_trust      = EXCLUDED.seller_trust,

  visibility_score  = EXCLUDED.visibility_score,

  updated_at        = now();



END;

$$;


--
-- Name: user_has_contact(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.user_has_contact(p_user_id uuid) RETURNS boolean
    LANGUAGE sql
    AS $$

  select exists (

    select 1 from contact_numbers

    where user_id = p_user_id

    and (

      (type = 'phone' and is_primary = true)

      or type = 'whatsapp'

    )

  );

$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.admin_audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    admin_id uuid,
    action text NOT NULL,
    target_type text,
    target_id uuid,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profiles (
    id uuid NOT NULL,
    full_name text,
    business_name text,
    trust_score integer DEFAULT 50,
    role public.user_role DEFAULT 'student'::public.user_role,
    avatar_url text,
    created_at timestamp with time zone DEFAULT now(),
    last_trust_update timestamp without time zone,
    last_decay_at timestamp without time zone,
    last_engagement_update timestamp without time zone,
    is_suspended boolean DEFAULT false,
    email text,
    CONSTRAINT profiles_trust_score_check CHECK (((trust_score >= 0) AND (trust_score <= 100)))
);


--
-- Name: reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reports (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    reporter_id uuid,
    listing_id uuid,
    reason text NOT NULL,
    is_resolved boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    reviewed_by uuid,
    reviewed_at timestamp without time zone,
    resolution_action text,
    CONSTRAINT resolution_action_check CHECK ((resolution_action = ANY (ARRAY['dismissed'::text, 'confirmed'::text])))
);


--
-- Name: admin_reports_view; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.admin_reports_view WITH (security_invoker='true') AS
 SELECT r.id,
    r.reason,
    r.created_at,
    r.listing_id,
    r.is_resolved,
    r.resolution_action,
    r.reporter_id,
    p.full_name AS reporter_name,
    p.avatar_url AS reporter_avatar
   FROM (public.reports r
     JOIN public.profiles p ON ((r.reporter_id = p.id)));


--
-- Name: backup_listings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.backup_listings (
    id uuid,
    seller_id uuid,
    category_id uuid,
    title text,
    description text,
    price numeric(10,2),
    type public.listing_type,
    is_active boolean,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    price_min numeric(10,2),
    price_max numeric(10,2),
    negotiable boolean,
    sold_at timestamp without time zone,
    archived_at timestamp without time zone,
    is_hidden boolean,
    is_deleted boolean,
    condition text
);


--
-- Name: backup_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.backup_profiles (
    id uuid,
    full_name text,
    business_name text,
    trust_score integer,
    role public.user_role,
    avatar_url text,
    created_at timestamp with time zone,
    last_trust_update timestamp without time zone,
    last_decay_at timestamp without time zone,
    last_engagement_update timestamp without time zone,
    is_suspended boolean,
    email text
);


--
-- Name: backup_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.backup_reports (
    id uuid,
    reporter_id uuid,
    listing_id uuid,
    reason text,
    is_resolved boolean,
    created_at timestamp with time zone,
    reviewed_by uuid,
    reviewed_at timestamp without time zone,
    resolution_action text
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    icon_name text,
    type public.listing_type DEFAULT 'product'::public.listing_type
);


--
-- Name: contact_numbers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.contact_numbers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    phone_number text NOT NULL,
    type text NOT NULL,
    is_primary boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT contact_numbers_type_check CHECK ((type = ANY (ARRAY['phone'::text, 'whatsapp'::text]))),
    CONSTRAINT phone_number_ghana_format CHECK ((phone_number ~ '^[0-9]{9}$'::text))
);


--
-- Name: discovery_feed; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.discovery_feed (
    id uuid NOT NULL,
    seller_id uuid,
    category_id uuid,
    title text,
    description text,
    price numeric,
    price_min numeric,
    price_max numeric,
    negotiable boolean,
    listing_type public.listing_type,
    is_active boolean,
    is_hidden boolean,
    is_deleted boolean,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    sold_at timestamp with time zone,
    archived_at timestamp with time zone,
    seller_name text,
    seller_avatar_url text,
    seller_trust integer,
    category_name text,
    image_url text,
    view_count bigint DEFAULT 0,
    contact_count bigint DEFAULT 0,
    engagement_score numeric DEFAULT 0,
    recency_score numeric DEFAULT 0,
    visibility_score numeric
);


--
-- Name: listing_engagements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.listing_engagements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    listing_id uuid,
    user_id uuid,
    type text,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT listing_engagements_type_check CHECK ((type = ANY (ARRAY['view'::text, 'contact'::text])))
);


--
-- Name: listing_images; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.listing_images (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    listing_id uuid,
    image_url text NOT NULL,
    "position" integer DEFAULT 1,
    created_at timestamp without time zone DEFAULT now(),
    is_cover boolean DEFAULT false
);


--
-- Name: listings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.listings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    seller_id uuid NOT NULL,
    category_id uuid NOT NULL,
    title text NOT NULL,
    description text,
    price numeric(10,2),
    type public.listing_type NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    price_min numeric(10,2),
    price_max numeric(10,2),
    negotiable boolean DEFAULT false,
    sold_at timestamp with time zone,
    archived_at timestamp with time zone,
    is_hidden boolean DEFAULT false,
    is_deleted boolean DEFAULT false,
    condition text,
    CONSTRAINT listings_price_check CHECK ((price >= (0)::numeric)),
    CONSTRAINT prevent_resell CHECK (((sold_at IS NULL) OR (is_active = false))),
    CONSTRAINT valid_price_logic CHECK ((((type = 'product'::public.listing_type) AND (price IS NOT NULL) AND (price_min IS NULL) AND (price_max IS NULL)) OR ((type = 'service'::public.listing_type) AND (((price IS NOT NULL) AND (price_min IS NULL) AND (price_max IS NULL)) OR ((price IS NULL) AND (price_min IS NOT NULL) AND (price_max IS NOT NULL) AND (price_min <= price_max)) OR ((price IS NULL) AND (price_min IS NULL) AND (price_max IS NULL)))))),
    CONSTRAINT valid_price_range CHECK (((price_min IS NULL) OR (price_max IS NULL) OR (price_min <= price_max)))
);


--
-- Name: reporter_stats; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reporter_stats (
    user_id uuid NOT NULL,
    total_reports integer DEFAULT 0,
    valid_reports integer DEFAULT 0,
    invalid_reports integer DEFAULT 0
);


--
-- Name: sold_confirmations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sold_confirmations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    listing_id uuid,
    buyer_id uuid,
    seller_id uuid,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: trust_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trust_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    profile_id uuid,
    amount integer NOT NULL,
    reason text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Data for Name: admin_audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: backup_listings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: backup_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: backup_reports; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: contact_numbers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: discovery_feed; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: listing_engagements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: listing_images; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: listings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: reporter_stats; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.reporter_stats (user_id, total_reports, valid_reports, invalid_reports) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sold_confirmations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sold_confirmations (id, listing_id, buyer_id, seller_id, created_at) FROM stdin;
\.


--
-- Data for Name: trust_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: admin_audit_logs admin_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: categories categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_slug_key UNIQUE (slug);


--
-- Name: contact_numbers contact_numbers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contact_numbers
    ADD CONSTRAINT contact_numbers_pkey PRIMARY KEY (id);


--
-- Name: discovery_feed discovery_feed_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.discovery_feed
    ADD CONSTRAINT discovery_feed_pkey PRIMARY KEY (id);


--
-- Name: listing_engagements listing_engagements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_engagements
    ADD CONSTRAINT listing_engagements_pkey PRIMARY KEY (id);


--
-- Name: listing_images listing_images_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_images
    ADD CONSTRAINT listing_images_pkey PRIMARY KEY (id);


--
-- Name: listings listings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: reporter_stats reporter_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reporter_stats
    ADD CONSTRAINT reporter_stats_pkey PRIMARY KEY (user_id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: sold_confirmations sold_confirmations_listing_id_buyer_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sold_confirmations
    ADD CONSTRAINT sold_confirmations_listing_id_buyer_id_key UNIQUE (listing_id, buyer_id);


--
-- Name: sold_confirmations sold_confirmations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sold_confirmations
    ADD CONSTRAINT sold_confirmations_pkey PRIMARY KEY (id);


--
-- Name: trust_logs trust_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trust_logs
    ADD CONSTRAINT trust_logs_pkey PRIMARY KEY (id);


--
-- Name: listing_images unique_listing_position; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_images
    ADD CONSTRAINT unique_listing_position UNIQUE (listing_id, "position");


--
-- Name: reports unique_report; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT unique_report UNIQUE (listing_id, reporter_id);


--
-- Name: idx_engagements_listing_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_engagements_listing_id ON public.listing_engagements USING btree (listing_id);


--
-- Name: idx_engagements_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_engagements_user_id ON public.listing_engagements USING btree (user_id);


--
-- Name: idx_feed_active_seller; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_feed_active_seller ON public.discovery_feed USING btree (seller_id, is_active, is_hidden, is_deleted);


--
-- Name: idx_feed_active_visibility; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_feed_active_visibility ON public.discovery_feed USING btree (visibility_score DESC) WHERE ((is_active = true) AND (is_hidden = false) AND (is_deleted = false));


--
-- Name: idx_feed_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_feed_created_at ON public.discovery_feed USING btree (created_at DESC);


--
-- Name: idx_feed_homepage; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_feed_homepage ON public.discovery_feed USING btree (visibility_score DESC, created_at DESC) WHERE ((is_active = true) AND (is_hidden = false) AND (is_deleted = false));


--
-- Name: idx_feed_listing_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_feed_listing_type ON public.discovery_feed USING btree (listing_type);


--
-- Name: idx_feed_seller_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_feed_seller_id ON public.discovery_feed USING btree (seller_id);


--
-- Name: idx_listing_images_listing_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listing_images_listing_id ON public.listing_images USING btree (listing_id);


--
-- Name: idx_listings_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_category ON public.listings USING btree (category_id);


--
-- Name: idx_listings_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_created_at ON public.listings USING btree (created_at DESC);


--
-- Name: idx_listings_seller_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_seller_id ON public.listings USING btree (seller_id);


--
-- Name: idx_listings_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_type ON public.listings USING btree (type);


--
-- Name: idx_profiles_trust; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_profiles_trust ON public.profiles USING btree (trust_score DESC);


--
-- Name: idx_reports_listing_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reports_listing_id ON public.reports USING btree (listing_id);


--
-- Name: idx_reports_reporter_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reports_reporter_id ON public.reports USING btree (reporter_id);


--
-- Name: idx_trust_logs_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_trust_logs_profile_id ON public.trust_logs USING btree (profile_id);


--
-- Name: one_cover_per_listing; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX one_cover_per_listing ON public.listing_images USING btree (listing_id) WHERE (is_cover = true);


--
-- Name: one_primary_per_user; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX one_primary_per_user ON public.contact_numbers USING btree (user_id) WHERE (is_primary = true);


--
-- Name: one_primary_phone_per_user; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX one_primary_phone_per_user ON public.contact_numbers USING btree (user_id) WHERE ((type = 'phone'::text) AND (is_primary = true));


--
-- Name: one_whatsapp_per_user; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX one_whatsapp_per_user ON public.contact_numbers USING btree (user_id) WHERE (type = 'whatsapp'::text);


--
-- Name: unique_daily_contact; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX unique_daily_contact ON public.listing_engagements USING btree (listing_id, user_id, type, date(created_at)) WHERE (type = 'contact'::text);


--
-- Name: unique_daily_view; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX unique_daily_view ON public.listing_engagements USING btree (listing_id, user_id, type, ((created_at)::date)) WHERE (type = 'view'::text);


--
-- Name: listings check_contact_before_insert; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER check_contact_before_insert BEFORE INSERT ON public.listings FOR EACH ROW EXECUTE FUNCTION public.enforce_contact_before_listing();


--
-- Name: listing_images check_listing_images_limit; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER check_listing_images_limit BEFORE INSERT ON public.listing_images FOR EACH ROW EXECUTE FUNCTION public.limit_listing_images();


--
-- Name: listings trg_check_category_type; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_check_category_type BEFORE INSERT OR UPDATE ON public.listings FOR EACH ROW EXECUTE FUNCTION public.check_category_type_match();


--
-- Name: listings trg_delete_listing; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_delete_listing AFTER DELETE ON public.listings FOR EACH ROW EXECUTE FUNCTION public.trigger_delete_listing();


--
-- Name: contact_numbers trg_normalize_phone; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_normalize_phone BEFORE INSERT OR UPDATE ON public.contact_numbers FOR EACH ROW EXECUTE FUNCTION public.normalize_ghana_phone();


--
-- Name: sold_confirmations trg_sold_confirmation; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_sold_confirmation AFTER INSERT ON public.sold_confirmations FOR EACH ROW EXECUTE FUNCTION public.handle_sold_confirmation();


--
-- Name: categories trg_sync_category_feed; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_sync_category_feed AFTER UPDATE ON public.categories FOR EACH ROW EXECUTE FUNCTION public.trigger_sync_category_to_feed();


--
-- Name: listing_images trg_sync_images_feed; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_sync_images_feed AFTER INSERT OR DELETE OR UPDATE ON public.listing_images FOR EACH ROW EXECUTE FUNCTION public.trigger_sync_images_to_feed();


--
-- Name: listings trg_sync_listing; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_sync_listing AFTER INSERT OR UPDATE ON public.listings FOR EACH ROW EXECUTE FUNCTION public.trigger_sync_listing();


--
-- Name: profiles trg_sync_profile_feed; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_sync_profile_feed AFTER UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.trigger_sync_profile_to_feed();


--
-- Name: reports trigger_auto_hide; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_auto_hide AFTER INSERT ON public.reports FOR EACH ROW EXECUTE FUNCTION public.on_report_created();


--
-- Name: reports trigger_prevent_report_spam; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_prevent_report_spam BEFORE INSERT ON public.reports FOR EACH ROW EXECUTE FUNCTION public.prevent_report_spam();


--
-- Name: admin_audit_logs admin_audit_logs_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: contact_numbers contact_numbers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contact_numbers
    ADD CONSTRAINT contact_numbers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: discovery_feed fk_feed_listing; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.discovery_feed
    ADD CONSTRAINT fk_feed_listing FOREIGN KEY (id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: listings fk_listings_category; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT fk_listings_category FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE RESTRICT;


--
-- Name: listings fk_listings_seller; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT fk_listings_seller FOREIGN KEY (seller_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: listing_engagements listing_engagements_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_engagements
    ADD CONSTRAINT listing_engagements_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: listing_engagements listing_engagements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_engagements
    ADD CONSTRAINT listing_engagements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id);


--
-- Name: listing_images listing_images_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_images
    ADD CONSTRAINT listing_images_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: reporter_stats reporter_stats_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reporter_stats
    ADD CONSTRAINT reporter_stats_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id);


--
-- Name: reports reports_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: reports reports_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: sold_confirmations sold_confirmations_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sold_confirmations
    ADD CONSTRAINT sold_confirmations_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.profiles(id);


--
-- Name: sold_confirmations sold_confirmations_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sold_confirmations
    ADD CONSTRAINT sold_confirmations_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: sold_confirmations sold_confirmations_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sold_confirmations
    ADD CONSTRAINT sold_confirmations_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.profiles(id);


--
-- Name: trust_logs trust_logs_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trust_logs
    ADD CONSTRAINT trust_logs_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: contact_numbers Admins can read all contacts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can read all contacts" ON public.contact_numbers FOR SELECT USING (public.is_admin());


--
-- Name: reports Admins can read all reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can read all reports" ON public.reports FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::public.user_role)))));


--
-- Name: reports Admins can update reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can update reports" ON public.reports FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::public.user_role)))));


--
-- Name: listing_images Anyone can read listing images; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Anyone can read listing images" ON public.listing_images FOR SELECT USING (true);


--
-- Name: sold_confirmations Buyers insert own confirmations; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Buyers insert own confirmations" ON public.sold_confirmations FOR INSERT TO authenticated WITH CHECK ((auth.uid() = buyer_id));


--
-- Name: categories Categories are viewable by everyone; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Categories are viewable by everyone" ON public.categories FOR SELECT USING (true);


--
-- Name: discovery_feed Everyone can read feed; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Everyone can read feed" ON public.discovery_feed FOR SELECT USING (true);


--
-- Name: admin_audit_logs Only admins can insert audit logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Only admins can insert audit logs" ON public.admin_audit_logs FOR INSERT WITH CHECK (public.is_admin());


--
-- Name: categories Only admins can insert/update categories; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Only admins can insert/update categories" ON public.categories USING ((( SELECT profiles.role
   FROM public.profiles
  WHERE (profiles.id = auth.uid())) = 'admin'::public.user_role));


--
-- Name: admin_audit_logs Only admins can read audit logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Only admins can read audit logs" ON public.admin_audit_logs FOR SELECT USING (public.is_admin());


--
-- Name: profiles Public profiles are viewable by everyone; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Public profiles are viewable by everyone" ON public.profiles FOR SELECT USING (true);


--
-- Name: sold_confirmations Sellers and buyers view own; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Sellers and buyers view own" ON public.sold_confirmations FOR SELECT TO authenticated USING (((auth.uid() = buyer_id) OR (auth.uid() = seller_id)));


--
-- Name: listing_images Sellers manage own images; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Sellers manage own images" ON public.listing_images TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.listings
  WHERE ((listings.id = listing_images.listing_id) AND (listings.seller_id = auth.uid()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM public.listings
  WHERE ((listings.id = listing_images.listing_id) AND (listings.seller_id = auth.uid())))));


--
-- Name: reports Users can create reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can create reports" ON public.reports FOR INSERT TO authenticated WITH CHECK ((auth.uid() = reporter_id));


--
-- Name: contact_numbers Users can manage their own contacts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own contacts" ON public.contact_numbers USING ((auth.uid() = user_id)) WITH CHECK ((auth.uid() = user_id));


--
-- Name: profiles Users can update their own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update their own profile" ON public.profiles FOR UPDATE USING ((auth.uid() = id));


--
-- Name: reports Users can view own reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view own reports" ON public.reports FOR SELECT USING ((auth.uid() = reporter_id));


--
-- Name: reports admin_all_reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY admin_all_reports ON public.reports USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::public.user_role)))));


--
-- Name: admin_audit_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.admin_audit_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: reports admin_full_reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY admin_full_reports ON public.reports USING (public.is_admin()) WITH CHECK (public.is_admin());


--
-- Name: profiles admin_modify_roles; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY admin_modify_roles ON public.profiles FOR UPDATE USING (public.is_admin()) WITH CHECK (public.is_admin());


--
-- Name: listings admins_full_access_listings; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY admins_full_access_listings ON public.listings USING (public.is_admin()) WITH CHECK (public.is_admin());


--
-- Name: reports admins_select_reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY admins_select_reports ON public.reports FOR SELECT USING (public.is_admin());


--
-- Name: reports admins_update_reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY admins_update_reports ON public.reports FOR UPDATE USING (public.is_admin()) WITH CHECK (public.is_admin());


--
-- Name: backup_listings; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.backup_listings ENABLE ROW LEVEL SECURITY;

--
-- Name: backup_profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.backup_profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: backup_reports; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.backup_reports ENABLE ROW LEVEL SECURITY;

--
-- Name: listings block_suspended_users; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY block_suspended_users ON public.listings FOR INSERT TO authenticated WITH CHECK ((NOT (EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_suspended = true))))));


--
-- Name: categories; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.categories ENABLE ROW LEVEL SECURITY;

--
-- Name: contact_numbers; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.contact_numbers ENABLE ROW LEVEL SECURITY;

--
-- Name: discovery_feed; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.discovery_feed ENABLE ROW LEVEL SECURITY;

--
-- Name: listing_engagements insert_own_engagement; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY insert_own_engagement ON public.listing_engagements FOR INSERT TO authenticated WITH CHECK ((auth.uid() = user_id));


--
-- Name: reports insert_own_report; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY insert_own_report ON public.reports FOR INSERT WITH CHECK ((auth.uid() = reporter_id));


--
-- Name: listing_engagements; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.listing_engagements ENABLE ROW LEVEL SECURITY;

--
-- Name: listing_images; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.listing_images ENABLE ROW LEVEL SECURITY;

--
-- Name: listings; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.listings ENABLE ROW LEVEL SECURITY;

--
-- Name: profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: profiles profiles_read_all; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY profiles_read_all ON public.profiles FOR SELECT TO authenticated USING (true);


--
-- Name: profiles profiles_update_self; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY profiles_update_self ON public.profiles FOR UPDATE TO authenticated USING ((auth.uid() = id));


--
-- Name: listings public_can_view_active_listings; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY public_can_view_active_listings ON public.listings FOR SELECT TO authenticated USING ((is_active = true));


--
-- Name: listing_engagements read_engagements; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY read_engagements ON public.listing_engagements FOR SELECT TO authenticated USING (true);


--
-- Name: reports; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.reports ENABLE ROW LEVEL SECURITY;

--
-- Name: sold_confirmations; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.sold_confirmations ENABLE ROW LEVEL SECURITY;

--
-- Name: trust_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.trust_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: listings users_delete_own_listings; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY users_delete_own_listings ON public.listings FOR DELETE TO authenticated USING ((auth.uid() = seller_id));


--
-- Name: listings users_insert_own_listings; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY users_insert_own_listings ON public.listings FOR INSERT TO authenticated WITH CHECK ((auth.uid() = seller_id));


--
-- Name: reports users_insert_reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY users_insert_reports ON public.reports FOR INSERT TO authenticated WITH CHECK ((auth.uid() = reporter_id));


--
-- Name: reports users_read_own_reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY users_read_own_reports ON public.reports FOR SELECT TO authenticated USING ((auth.uid() = reporter_id));


--
-- Name: listings users_update_own_listings; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY users_update_own_listings ON public.listings FOR UPDATE TO authenticated USING ((auth.uid() = seller_id));


--
-- Name: reports view_own_reports; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY view_own_reports ON public.reports FOR SELECT USING ((auth.uid() = reporter_id));


--
-- PostgreSQL database dump complete
--

\unrestrict qavzHuhhBTYcLBz2UpfYScFldVLxP4qptQBB73uXeapgruvZDy1VlpqpDR0lFLy

